<div class="card-header">
  <h3>
    Departamentos
    <button
      pButton
      class="btn btn-lg btnlsuccess btn-block text-uppercase p-button-rounded p-button-success"
      type="button"
      icon="pi pi-plus"
      (click)="add()"
    ></button>
  </h3>
</div>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departamento of departamentos$ | async">
      <td>{{ departamento.nome }}</td>
      <td>{{ departamento.telefone }}</td>
      <td>
        <button
          pButton
          class="btn btn-lg btnlsuccess btn-block text-uppercase p-button-rounded p-button-success"
          type="button"
          icon="pi pi-edit"
          (click)="selecionaDepartamento(departamento)"
        ></button>
        <button
          pButton
          class="btn btn-lg btnlsuccess btn-block text-uppercase p-button-rounded p-button-success"
          type="button"
          icon="pi pi-trash"
          (click)="delete(departamento)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>

<p-dialog
  header="Dados do departamento"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ overflow: 'visible' }"
  [(visible)]="displayDialogDepartamento"
  [modal]="true"
>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form.value">
    <form [formGroup]="form" class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="nome">Nome</label>
        <input type="text" pInputText formControlName="nome" />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="nome">Nome</label>
        <p-inputMask
          formControlName="telefone"
          mask="(99) 9 9999-9999"
        ></p-inputMask>
      </div>
    </form>
  </div>
</p-dialog>

<p-dialog
  header="Dados do departamento"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ overflow: 'visible' }"
  [visible]="false"
  [modal]="true"
>
  Content
</p-dialog>

<p-dialog
  header="Dados do departamento"
  [style]="{ width: '80vw' }"
  [contentStyle]="{ overflow: 'visible' }"
  [(visible)]="displayDialogDepartamento"
  [modal]="true"
>
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="form.value">
    <form [formGroup]="form" class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="nome">Nome*:</label>
        <input type="text" pInputText formControlName="nome" />
      </div>

      <div class="p-field p-col-12 p-md-6">
        <label for="telefone">Telefone:</label>
        <p-inputMask
          formControlName="telefone"
          mask="(99)9999-9999"
        ></p-inputMask>
      </div>
    </form>
  </div>

  <div class="p-d-flex p-jc-end">
    <button
      [disabled]="!form.valid"
      type="button"
      class="btn btn-primary"
      (click)="save()"
    >
      <i class="fas fa-check-circle"></i> {{ edit ? "Atualizar" : "Salvar" }}
    </button>
  </div>
</p-dialog>
